# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Databases
passwords.db

# Logs
*.log
.system_generated/
/scratch/

# Environment Variables
.env
